@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Spinnaker', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* spinnaker-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Spinnaker';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/spinnaker-v17-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/spinnaker-v17-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

button {
  @apply transition active:scale-[85%] hover:scale-95 disabled:scale-100 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:hover:bg-transparent;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var();
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

/* For Firefox */
scrollbar-width: thin;
scrollbar-color: #000000 #f5f5f5;
